.wrapFAQ {
    width: 100% !important;
}

.wrapRowFAQ {
    width: 100% !important;
    margin-bottom: 100px;
}

.wrappperQuestions {
    position: relative;
    width: 100%;
    padding: 20px;
    left: 100px;
}

.question1 {
    position: absolute;
    opacity: 0;
    width: 70%;
}

.question2 {
    position: absolute;
    opacity: 0;
    width: 70%;
}

.question3 {
    position: absolute;
    opacity: 0;
    width: 70%;
}

.question4 {
    position: absolute;
    opacity: 0;
    width: 70%;
}

.question5 {
    position: absolute;
    opacity: 0;
    width: 70%;
}

.wrapQuestions {
    padding: 10px;
}

.questionFAQ {
    position: relative;
    z-index: 100;
}

.questionFAQ hr {
    width: 70%;
    background-color: blue;
    height: 4px;
    margin-top: 10px;
}

.downArrow1 {
    width: 20px;
    position: absolute;
    left: 66%;
    top: -15px;
    color: blue;
    font-weight: bolder;
    font-size: 30px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.2s ease;
}

.downArrow2 {
    width: 20px;
    position: absolute;
    left: 66%;
    top: -15px;
    color: blue;
    font-weight: bolder;
    font-size: 30px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.2s ease;
}

.downArrow3 {
    width: 20px;
    position: absolute;
    left: 66%;
    top: -15px;
    color: blue;
    font-weight: bolder;
    font-size: 30px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.2s ease;
}

.downArrow4 {
    width: 20px;
    position: absolute;
    left: 66%;
    top: -15px;
    color: blue;
    font-weight: bolder;
    font-size: 30px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.2s ease;
}

.downArrow5 {
    width: 20px;
    position: absolute;
    left: 66%;
    top: -15px;
    color: blue;
    font-weight: bolder;
    font-size: 30px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.2s ease;
}

.question1.active {
    opacity: 1;
    transition: opacity 0.2s ease;
    position: relative;
}

.question2.active {
    opacity: 1;
    transition: opacity 0.2s ease;
    position: relative;
}


.question3.active {
    opacity: 1;
    transition: opacity 0.2s ease;
    position: relative;
}

.question4.active {
    opacity: 1;
    transition: opacity 0.2s ease;
    position: relative;
}

.question5.active {
    opacity: 1;
    transition: opacity 0.2s ease;
    position: relative;
}


.downArrow1.active {
    transform: rotate(90deg);
}

.downArrow2.active {
    transform: rotate(90deg);
}

.downArrow3.active {
    transform: rotate(90deg);
}

.downArrow4.active {
    transform: rotate(90deg);
}

.downArrow5.active {
    transform: rotate(90deg);
}


.contactUsFAQ {
    border: none;
    width: 150px;
    background-color: blue;
    color: white;
    margin-right: 10px;
    border-radius: 20px;
}

.getStartedFAQ {
    border: none;
    width: 150px;
    background-color: blue;
    color: white;
    border-radius: 20px;
}

.wrapButtonFAQRight{
    margin-top: 20px;
}

.anyFAQ{
    font-size: 25px;
    font-weight: bold;
}