@font-face {
    font-family: 'Humnst777black';
    src: url('../../assets/font/TT0861M_.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Asap SemiCondensed';
    src: url('../../assets/font/TT0861M_.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.sloganAndService {
    background-image: url('../../assets/image/bg-services.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.services-section {
    color: white;
}

.services-section-1 {
    padding: 150px 200px;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
}

.services-section-1-box {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2pt;

    border: 1px solid white;
    border-radius: 9999px;

    padding: 50px 0;
}

.services-section-1-box-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 20%;
}

.services-section-1-box-img img {
    object-fit: contain;
    height: 150px;
}

.services-section-1-box-desc {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding-right: 50px;
    text-align: justify;
}

.services-section-1-box-desc h6 {
    font-size: 19pt;
    font-family: 'Humnst777black', sans-serif;
    margin-bottom: 30px;
}

.services-section-1-box-desc p {
    padding: 0;
    margin: 0;
    font-size: 23pt;
    font-family: 'Asap SemiCondensed', sans-serif;
}






.services-section-2 {
    padding: 50px 100px 200px 100px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.services-section-2-card {
    width: 50%;
    border: 0.1px solid white;
    border-radius: 70px;
    padding: 30px 30px 100px 30px;
    background: rgba(255, 255, 255, 0.5);
    /* backdrop-filter: blur(4px); */
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    letter-spacing: 1px;
    overflow: hidden;
    position: relative;
    box-shadow:
        inset 0 4px 0px -3px rgba(0, 85, 255, 1),
        inset 0 -4px 0px -3px rgba(0, 85, 255, 1);
    /* 0 24px 24px rgba(0, 0, 0, 0.1); */

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;

    text-align: center;
    font-size: 30pt;
    font-family: 'Asap SemiCondensed', sans-serif;
    line-height: 2;
}

.services-section-2-card-icon img {
    width: 80px;
}

.services-section-2-card-text-largeText {
    font-size: 48pt;
    font-family: 'Asap SemiCondensed', sans-serif;
    line-height: 1;
    font-weight: bold;
}

.services-section-2-desc {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: 2px;
    line-height: 1;
}

.services-section-2-desc img{
    object-fit: contain;
    width: 85%;
}



@media only screen and (max-width: 992px) {
    /* .services-section-1 {
        padding: 30px 20px;
    }

    .services-section-1-box {
        flex-direction: column;
        gap: 0.5rem;
    }

    .services-section-1-box-img {
        width: 100%;
    }

    .services-section-1-box-img h6,
    .services-section-1-box-desc h6,
    .services-section-1-box-desc p {
        font-size: 18px;
        font-weight: bold;
    }


    .services-section-2 {
        padding: 20px 20px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 2.8rem;
    }

    .services-section-2-card {
        width: 100%;
        border-radius: 50px;
        font-size: 20px;
    }

    .services-section-2-card-text-largeText {
        font-size: 35px;
    }

    .services-section-2-desc {
        width: 80%;
        padding: 100px 0;
    }

    .services-section-2-desc-title {
        font-size: 56px;
    }

    .services-section-2-desc-outline {
        font-size: 56px;
    }

    .services-section-2-desc-text-normal {
        font-size: 56px;
    }

    .services-section-2-desc-line {
        top: -8px;
    } */
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* .services-section-1 {
        padding: 30px 20px;
    }

    .services-section-1-box {
        gap: 1rem;
    }

    .services-section-1-box-img {
        width: 20%;
    }

    .services-section-1-box-img h6,
    .services-section-1-box-desc h6,
    .services-section-1-box-desc p {
        font-size: 18px;
        font-weight: bold;
    } */
}

@media only screen and (min-width: 1200px) and (max-width: 1530px) {
    /* .services-section-1 {
        padding: 50px 50px;
    }

    .services-section-1-box {
        gap: 1.5rem;
    }

    .services-section-1-box-img {
        width: 20%;
    }

    .services-section-1-box-img h6,
    .services-section-1-box-desc h6,
    .services-section-1-box-desc p {
        font-size: 18px;
        font-weight: bold;
    } */
}