@font-face {
    font-family: 'Depot';
    src: url('../../assets/font/DEPOT.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.slogan-section {
    background-color: black;
    color: white;
    font-family: 'Depot', sans-serif;
    letter-spacing: 15px;
    padding: 50px 25px;

    display: flex;
    flex-direction: column;
    line-height: 1;
}

.slogan-line {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.slogan-small {
    /* font-size: 100px; */
    font-size: 70px;
    /* font-size: clamp(70px, 10vw, 100px); */
}

.slogan-large {
    /* font-size: 250px; */
    font-size: 176px;
    /* font-size: clamp(176px, 10vw, 250px); */
}

.slogan-we-are {
    align-self: center;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .slogan-small {
        font-size: 28px;
    }

    .slogan-large {
        font-size: 58px;
    }

    .slogan-section {
        padding: 30px 15px;
        letter-spacing: 5px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .slogan-small {
        font-size: 32px;
    }

    .slogan-large {
        font-size: 62px;
    }

    .slogan-section {
        padding: 30px 15px;
        letter-spacing: 5px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .slogan-small {
        font-size: 38px;
    }

    .slogan-large {
        font-size: 95px;
    }

    .slogan-section {
        padding: 30px 15px;
        letter-spacing: 5px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .slogan-small {
        font-size: 50px;
    }

    .slogan-large {
        font-size: 125px;
    }

    .slogan-section {
        padding: 30px 15px;
        letter-spacing: 5px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1530px) {
    .slogan-small {
        font-size: 50px;
    }

    .slogan-large {
        font-size: 126px;
    }

    .slogan-section {
        padding: 50px 25px;
        letter-spacing: 15px;
    }
}