@font-face {
    font-family: 'Depot';
    src: url('../../assets/font/DEPOT.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.slogan-section {
    color: white;
    font-family: 'Depot', sans-serif;
    letter-spacing: 5pt;
    padding: 50px 50px;

    display: flex;
    flex-direction: column;
    line-height: 1;
}

.slogan-line {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.slogan-small {
    font-size: 60pt;
}

.slogan-large {
    font-size: 125pt;
    padding-right: 10px;
}

.slogan-we-are {
    align-self: center;
    display: flex;
    flex-direction: column;
    font-size: 50pt;
    line-height: 50pt;
    padding-right: 10px;
}

@media (max-width: 360px) {
    .slogan-small {
        font-size: 16pt;
    }

    .slogan-large {
        font-size: 28pt;
    }

    .slogan-section {
        padding: 30px 10px;
        letter-spacing: 1pt;
    }

    .slogan-we-are {
        flex-direction: column;
        font-size: 14pt;
        line-height: 11pt;
    }
}

@media (min-width: 360px) and (max-width: 480px) {
    .slogan-small {
        font-size: 16pt;
    }

    .slogan-large {
        font-size: 28pt;
    }

    .slogan-section {
        padding: 30px 10px;
        letter-spacing: 1pt;
    }

    .slogan-we-are {
        flex-direction: column;
        font-size: 14pt;
        line-height: 11pt;
    }
}

@media (min-width: 480px) and (max-width: 600px) {
    .slogan-small {
        font-size: 18pt;
    }

    .slogan-large {
        font-size: 44pt;
    }

    .slogan-section {
        padding: 30px 15px;
        letter-spacing: 1pt;
    }

    .slogan-we-are {
        flex-direction: column;
        font-size: 20pt;
        line-height: 15pt;
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    .slogan-small {
        font-size: 26pt;
    }

    .slogan-large {
        font-size: 55pt;
    }

    .slogan-section {
        padding: 30px 15px;
        letter-spacing: 1pt;
    }

    .slogan-we-are {
        font-size: 23pt;
        line-height: 20pt;
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    .slogan-small {
        font-size: 35pt;
    }

    .slogan-large {
        font-size: 71pt;
    }

    .slogan-section {
        padding: 30px 15px;
        letter-spacing: 1pt;
    }

    .slogan-we-are {
        font-size: 31pt;
        line-height: 27pt;
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    .slogan-small {
        font-size: 42pt;
    }

    .slogan-large {
        font-size: 95pt;
    }

    .slogan-section {
        padding: 50px 30px;
        letter-spacing: 1pt;
    }

    .slogan-we-are {
        font-size: 40pt;
        line-height: 34pt;
    }
}

@media (min-width: 1199px) and (max-width: 1440px) {
    .slogan-small {
        font-size: 52pt;
    }

    .slogan-large {
        font-size: 118pt;
    }

    .slogan-section {
        padding: 50px 30px;
        letter-spacing: 1pt;
    }

    .slogan-we-are {
        font-size: 46pt;
        line-height: 46pt;
    }
}