@font-face {
    font-family: 'Depot';
    src: url('../../assets/font/DEPOT.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.slogan-section {
    background-color: black;
    color: white;
    font-family: 'Depot', sans-serif;
    letter-spacing: 15px;
    padding: 50px 25px;

    display: flex;
    flex-direction: column;
    line-height: 1;
}

.slogan-line {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.slogan-small {
    font-size: 70px;
}

.slogan-large {
    font-size: 176px;
}

.slogan-we-are{
    align-self: center;
    display: flex;
    flex-direction: column;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}