.wrapperTop {
    width: 100% !important;
    height: 50%;
    background-color: black;
}

.wrapperRowTop {
    width: 100%;
    border-radius: 0 0  100px 100px;
    background-color: white;
    height: 100%;
}

.buttonTopContentTitle {
    width: 120px;
    margin-bottom: 50px;
}

.titleName h1 {
    font-family: depot;
    font-size: 70px;
    letter-spacing: 40px;
}

.buttonTopContentTitle h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

.buttonTopContent button {
    border: none;
    border-radius: 20px;
    background-color: rgb(21, 21, 221);
    color: white;
    width: 150px;
}