.wrapperTop {
    width: 100% !important;
    height: 90%;
    background-color: black;
    margin-bottom: -2px;
}

.topRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.wrapperRowTop {
    width: 100%;
    border-radius: 0 0 100px 100px;
    background-color: white;
    height: 100%;
}

.buttonTopContentTitle {
    width: 160px;
}


.titleName {
    text-align: start;
    font-family: depot;
    font-size: 50px;
    letter-spacing: 30px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 2px solid transparent;
}

.titleName h1 {
    text-align: center;
}

.typing {
    font-family: 'ASAP';
    overflow: hidden;
    white-space: nowrap;
    display: block;
    opacity: 1;
    width: 0;
    animation: typing 2s steps(20, end) forwards;
}

@keyframes typing {
    0% {
        width: 0;
        border-right: 3px solid #333;
    }

    50% {
        width: 50%;
        border-right: 3px solid #333;
    }

    99% {
        border-right: 3px solid #333;
    }

    100% {
        width: 100%;
        border-right: none;
    }
}

.typing.done:nth-child(1){
    animation-delay: 0s;
}

.typing.done:nth-child(2){
    animation-delay: 2s;
}

.typing.done:nth-child(3){
    animation: typing 2s steps(20, end) forwards, blinkType 0.7s step-end infinite;
    animation-delay: 4s, 6s;
}


.typing:nth-child(1) {
    animation-delay: 2s;
}

.typing:nth-child(2) {
    animation-delay: 4s;
}

.typing:nth-child(3) {
    animation: typing 2s steps(20, end) forwards, blinkType 0.7s step-end infinite;
    animation-delay: 6s, 8s;
}



@keyframes blinkType {

    0%,
    100% {
        border-right: 3px solid #333;
    }

    50% {
        border-right: transparent;
    }
}

.buttonTopContent button {
    border: none;
    border-radius: 20px;
    background-color: rgb(21, 21, 221);
    color: white;
    width: 150px;
    font-family: 'DEPOT';
    letter-spacing: 2px;
}

.lastLetterTop {
    letter-spacing: 0;
    font-size: 50px;
}

.imgTopLogo {
    width: 60%;
}

.wrapperButtonTop {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .buttonTopContentTitle {
        width: 120px;
        text-align: start;
    }

    .lastLetterTop {
        font-size: 50px;
    }

    .titleName {
        font-size: 50px;
        letter-spacing: 10px;
    }

    .wrapperTop {
        height: 86%;
        min-height: 600px;
    }

    .imgTopLogo {
        width: 60%;
        min-width: 400px
    }

    .wrapperRowTop {
        border-radius: 0 0 40px 40px;
    }

    .topRight {
        display: flex !important;
        flex-direction: row !important;
    }

}



@media (max-width:420px) {
    .wrapperTop {
        min-height: 800px;
    }

    .buttonTopContent button {
        font-size: 12px;
    }
}

@media (max-width:400px) {
    .wrapperTop {
        min-height: 600px;
    }

    .buttonTopContent button {
        font-size: 12px;
    }


}

@media (min-width:1024px) and (max-width: 1024px) {
    .titleName {
        width: 50%;
        height: 100vw;
    }

    .imgTopLogo {
        position: relative;
        top: 5vh;
        width: 100%;
        left: 10px;
    }

    .topRight {
        width: 50%;
    }
}